{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This is a blog platform built using Python and Flask. This blog allows CRUD operations. You can create new posts, edit existing ones, delete, and read all posts. </p>
        <p>The database  used  for storing data is postgresql. The ORM is SQLAlchemy.</p>
        <p>The front end uses bootstrap and wtforms  with some Python logic mixed in through the Jinja template engine language.</p>
        <p>You can also register users. Only registered users can comment on the posts. For authentication I have used werkzeug security for hashing and salting of passwords.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}